form {
    padding-top: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
}

label, input {
    flex-basis: 48%; /* Each label-input pair takes about half the row */
    margin-bottom: 20px;
}

input {
    background-color: #F5E8D4;
    border: 2px solid #bba47f;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    box-sizing: border-box;
    width: 100%; /* Ensure input fields fill their container */
}

button {
    flex-basis: 100%; /* Button takes full width */
    padding: 10px;
    font-size: 18px;
    background-color: #F5E8D4;
    border: 2px solid #bba47f;
    border-radius: 8px;
    cursor: pointer;
}
